@model IEnumerable<WebMvc.ViewModel.UserAdminVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UserAdmin/_Layout.cshtml";
}


<h1>Index</h1>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a  class="btn btn-default" asp-action="Create">创建</a>
        <button type="button" class="btn btn-default">按钮 2</button>
        <button type="button" class="btn btn-default">按钮 3</button>
    </div>

</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleFlagName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleFlagName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td>
                    @Html.ActionLink("详情", "Details", new { id = item.Uuid }) |
                    @Html.ActionLink("修改", "Edit", new { id = item.Uuid }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.Uuid })
                </td>
            </tr>
        }
    </tbody>
</table>
